/* Reset some default browser styling */
body, ul, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* Basic resets */
body, h2 {
    margin: 0;
    padding: 0;
}

/* Body style */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensures body takes at least full viewport height */
}

/* Form container style */
.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    margin: auto;
    animation: fadeIn 1s ease-in; /* Apply fade-in animation */
}

/* Heading style */
h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-family: Arial, sans-serif; /* Apply Arial font */
}

/* Label style */
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

.dashboard-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    width:96%;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.dashboard-link:hover {
    background-color: #0056b3;
    color: white;
    text-decoration: none;
}


/* Input and textarea styles */
input[type="text"], input[type="date"], textarea, select {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="text"]:focus, input[type="date"]:focus, textarea:focus, select:focus {
    border-color: #007bff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
}

/* Submit button style */
input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    width: calc(100% - 22px);
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px; /* Add margin-top to the button */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition for hover */
}

/* Hover and active effects for submit button */
input[type="submit"]:hover {
    background-color: #0056b3;
    transform: scale(1.05); /* Slightly enlarge button on hover */
}

input[type="submit"]:active {
    background-color: #00408b; /* Darker blue for active state */
    transform: scale(0.95); /* Slightly reduce button on click */
}

/* Message style */
.message {
    margin-top: 20px;
    color: green;
    font-weight:bold;
    text-align: center;
}

/* Animation for fade-in effect */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
